venv/
.env
data/
.git/
.gitignore
__pycache__/
*.pyc
*.pyo
.ipynb_checkpoints/
.idea/
logs.log
netcdf_metadata.log
*.md
!TODO.md
!README.md
netcdf_export.ipynb
dl_image.ipynb
import.py
spyder.py
runScript.sh
.env.docker
.env.example
createDB.txt
env.txt
TODO.html
crontab.example
